DISCORD_TOKEN=pon_aqui_el_token_del_bot
DISCORD_GUILD_ID=
BOT_PREFIX=!
BOT_ENV=development
BOT_SYNC_SCOPE=guild
BOT_LOG_LEVEL=INFO
BOT_LOG_DIR=logs
BOT_LOG_MAX_BYTES=1048576
BOT_LOG_BACKUP_COUNT=5
BOT_LOG_ALL_MESSAGES=false
BOT_CHANNEL_ACCESS_RANGE_START_ROLE_ID=1364338457106845717
BOT_CHANNEL_ACCESS_RANGE_END_ROLE_ID=1364336738323009796
