DISCORD_TOKEN=pon_aqui_el_token_del_bot
DISCORD_GUILD_ID=1016819103555657851
BOT_PREFIX=!
BOT_ENV=development
BOT_SYNC_SCOPE=guild
BOT_DEFAULT_LOCALE=es-ES
BOT_LOCALES_DIR=aa_resources/locales
BOT_LOG_LEVEL=INFO
BOT_LOG_DIR=aa_var/logs
BOT_LOG_MAX_BYTES=1048576
BOT_LOG_BACKUP_COUNT=5
BOT_LOG_ALL_MESSAGES=false
BOT_CHANNEL_ACCESS_RANGE_START_ROLE_ID=1364338457106845717
BOT_CHANNEL_ACCESS_RANGE_END_ROLE_ID=1364336738323009796
BOT_GOLD_DIVISION_CATEGORY_ID=1487858997812789298
BOT_SILVER_DIVISION_CATEGORY_ID=1487859192256790630
